In [4]:
import pandas_datareader as web
import datetime
startDate = datetime.datetime(2021, 1, 1)
endDate = datetime.datetime(2021, 12, 31) # datetime.datetime.now()
web.DataReader('MNDT', 'yahoo', startDate, endDate)

                 High        Low       Open      Close    Volume  Adj Close
Date
2021-01-04  22.879999  20.763000  22.760000  21.860001  13543500  21.860001
2021-01-05  22.254999  21.500000  21.650000  21.865000   5719200  21.865000
2021-01-06  22.100000  21.389999  21.490000  21.570000   7473600  21.570000
2021-01-07  23.170000  21.860001  21.870001  22.770000   7993200  22.770000
2021-01-08  23.750000  22.639999  23.690001  22.700001   5087400  22.700001
...               ...        ...        ...        ...       ...        ...
2021-12-27  17.790001  17.290001  17.330000  17.770000   2508800  17.770000
2021-12-28  17.950001  17.620001  17.750000  17.719999   1358600  17.719999
2021-12-29  17.790001  17.427999  17.427999  17.559999   2116400  17.559999
2021-12-30  17.895000  17.540001  17.639999  17.660000   1774400  17.660000
2021-12-31  17.830000  17.469999  17.639999  17.540001   1685600  17.540001

[252 rows x 6 columns]